@{
    Layout = "~/Views/Shared/_AdminPagesLayout.cshtml";
    var errorMessage = ViewBag.ErrorMessage;
    var course = ViewBag.courses;
}

@model ILearnSmartProject.Models.Course

<h4>Add Course</h4>
<hr />
<div class="mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-4">
            <form asp-controller="Course" class="Course" asp-action="SubmitCourse" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mt-3">
                    <label asp-for="CourseTitle" class="control-label"></label>
                    <input asp-for="CourseTitle" value="@course[0].CourseTitle" class="form-control" />
                    <span asp-validation-for="CourseTitle" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="CourseDescription" class="control-label"></label>
                    <input asp-for="CourseDescription" value="@course[0].CourseDescription" class="form-control" />
                    <span asp-validation-for="CourseDescription" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="CoursePrice" class="control-label"></label>
                    <input asp-for="CoursePrice" value="@course[0].CoursePrice" class="form-control" />
                    <span asp-validation-for="CoursePrice" class="text-danger"></span>
                </div>
                <div class="form-row mt-3">
                    <div class="form-group col">
                        <label asp-for="CourseVideoFile" class="control-label"></label>
                        <input asp-for="CourseVideoFile" class="form-control" type="file" name="CourseVideoFile" id="CourseVideoFile" accept="video/*" />
                    </div>
                    <div class="form-group form-check mt-3 col">
                        <label class="form-check-label">
                            <input class="form-check-input" value="@course[0].CourseEnabled" asp-for="CourseEnabled" /> @Html.DisplayNameFor(model => model.CourseEnabled)
                        </label>
                    </div>
                </div>
                @if(course.Count > 0 && course != null)
                {
                    <div class="form-group mt-3" >
                        <label asp-for="Id" class="control-label"></label>
                        <input asp-for="Id" value="@course[0].Id" class="form-control"  />
                  
                    </div> 
                    <div class="form-group mt-3" hidden>
                        <label asp-for="IsEdit" class="control-label"></label>
                        <input asp-for="IsEdit" value="true" class="form-control" hidden />
                  
                    </div>

                    <div class="form-group mt-3" hidden>
                        <label asp-for="BlobName" class="control-label"></label>
                        <input asp-for="BlobName" value="@course[0].BlobName" class="form-control" hidden />
                  
                    </div>

                    <div class="form-group mt-3 d-flex justify-content-center">
                        <input type="submit"  value="Edit" class="btn btn-primary" />
                    </div>
                }
                 else
                  {
                    <div class="form-group mt-3 d-flex justify-content-center">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                  }
                
                
            </form>
        </div>
    </div>

</div>